@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body{
    margin:0;
    font-family:'lato',sans-serif ;
    color:rgb(15, 14, 14);
    background: linear-gradient(to left, #3498db, white);

}
#mainheader{
    color:#fff;
    padding:2rem 5%; 
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: 'lato';
    /* border: 2px solid black; */
    background-color: black;
} 
.btn{
font:inherit;
padding:0.5rem 1.5rem;
background-color:rgb(25, 25, 15);
border:1px solid  rgb(103, 42, 103);
color:#fff;
border-radius:4px;
cursor:pointer;


}
.btn-alt{
background-color: transparent;
border-color:transparent;
color: black;


}
.btn:hover{
    background:linear-gradient(to left, pink, #3498db);
    border-color:#fff;

}
.btn-alt:hover{
background-color: rgb(245,232,255);
border-color: transparent;
}

